name: Package Check

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Typst Package Check
        uses: typst/packages/.github/actions/check@main
        with:
          app-id: ${{ secrets.PACKAGE_CHECK_APP_ID }}
          installation-id: ${{ secrets.PACKAGE_CHECK_INSTALLATION_ID }}
          private-key: ${{ secrets.PACKAGE_CHECK_PRIVATE_KEY }}
